<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17432405211-b3g25nh173cu4rfhvl18dokdfft69coo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17432405211-b3g25nh173cu4rfhvl18dokdfft69coo</string>
	<key>API_KEY</key>
	<string>AIzaSyBA550-rsWRgLyGa6X9cBDmvoZ0c9iuYIM</string>
	<key>GCM_SENDER_ID</key>
	<string>17432405211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PhillipTracy.PodMe</string>
	<key>PROJECT_ID</key>
	<string>podme-bbb2c</string>
	<key>STORAGE_BUCKET</key>
	<string>podme-bbb2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17432405211:ios:824d7e6d1dfb9ba68bd8fe</string>
</dict>
</plist>